In [ ]:
# sequence or collections

range
string



list
tuple
set 
dictionary

# range
range(start,stop,step)

range(1,10)

In [ ]:
for iterating_variable in sequence:
    body

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
num=1
for i in "Hello Wolrd":
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11

In [7]:
for i in range(1,10,3):
    print(i)

1
4
7

In [9]:
# by default value of start in range is 0
# by default value of step is 1
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
# Negative values in range()
for i in range(-10):
    print(i)
    
    
#     -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

when step is positive then direction is left to right
range(3,9,2)

when step is negative then direction form rigth to left
range(9,0,-1)

negative indexing

In [13]:
for i in range(5,-10):
    print(i)

In [15]:
for i in range(-2,-18,-1):
    print(i)

-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17

In [21]:
l1=[45,"true","hello",478.9,False,[4,5,8]]
for i in l1:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>

# while Loop
conditions

while(condition):
    body

In [23]:
i=1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [24]:
# nested For loop
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

*
* *
* * * 
* * * *
* * * * *

In [28]:
# break will permanently terminate the loop
for i in range(1,25):
    break
#     if i==26:
#         break
    print(i)

In [34]:
# continue will just terminate the loop for current iteration
for i in range(1,15):
    print(i)
    continue
    print(i)
    if(i==12):
        continue

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [41]:
for i  in range(1,10):
    pass

In [42]:
i=41
if i<20:
    pass